body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:10%;
    font-size: 18px;
}
ul{
    list-style: none;
    padding: 0;
}

.inbox{
    display: none;
    color:#FFF;
    margin:auto;
    background-color:#000;
    width: 650px;
    height: 550px;
    padding: 20px;
}
.header{
    border-bottom: 1px solid #FFF;
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
}
.header h1{
    margin: 0;
    padding: 0;
    float: left;
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
}
.header div {
    width: 50%;
}
#postbox{
    color:orange;
    font-size: 32px;
    float: right;
    font-family: Impact;
    font-weight: normal;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.inboxContainer{
    height: 350px;
}
.inbox ul{
    overflow-x: scroll;
    height: 230px;
}
.inbox_row{
    display: flex;
    flex-direction: row;
    padding: 10px;
    background: #222;
    margin-bottom: 10px;
}
.inbox_row:hover{
    cursor: pointer;
    background: #333;
}
.inbox ul>div{
    width: auto;
}
.inbox_subject{
    width: 60%;
}
.inbox_sender{
    padding-right: 20px;
}
.inbox_date{
    width: 30%;
}
.view{
    display: none;
    padding: 20px;
    position: relative;
    margin:auto;
    width: 800px;
    height: 400px;
    background: url("bg.png") no-repeat;
}
.compose{
    display: none;
    padding: 20px;
    position: relative;
    margin:auto;
    width: 800px;
    height: 400px;
    background: url("bg.png") no-repeat;
}
.inbox i{
    color:#FFF;
}
.inbox_subject i {
    padding-right: 5px;
}
.btn{
    font-size: 17px;
    background: rgb(87, 49, 49);
    border: 1px solid transparent;
    color:#FFF;
    text-transform: uppercase;
    width: 100%;
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    font-family: Impact;
    font-weight: normal;
    letter-spacing: 3px;
}
.telegram_header{
    position: relative;
    margin-top: 52px;
    margin-bottom: 15px;
}
.telegram_header h1{
    text-align: center;
    text-transform: uppercase;
}
.telegram_info{
    display: flex;
    flex-direction: row;
}
.telegram_info div{
    width: 33%;
}
.btn:hover{
    cursor: pointer;
}
a{
    text-decoration: none;
}
.close_view{
    position: absolute;
    top: 10px;
    right: 50px;
    color:#000;
}
#view_subject{
    padding-top: 5px;
    padding-bottom: 5px;
}
.telegram_footer{
    text-align: center;
}
.telegram_footer button{
    background-color: #998875;
    border: 0;
    color:#FFF;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.compose #subject{
    font-size: 18px;
}
input[type="submit"]:hover{
  cursor: pointer!important;
}
input[type="text"]{
    background: transparent;
    color:#000;
    border:0;
}
textarea{
    width: 100%;
    background: transparent;
    color:#000;
    border:0;
    margin-top: 10px;
    font-size: 18px;
}
#recipient{
    text-transform: uppercase;
}
input::-webkit-input-placeholder {
    color:#444;
  }
  textarea::-webkit-input-placeholder {
    color:#444;
    text-transform: normal;
  }
  form{
      padding: 0;
      margin: 0;
  }
  textarea:focus, input:focus{
    outline: none;
}